<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 

  </head>
  <body>

    <div class="container-fluid row">
        <div class="mt-5 col-md-6 col-12">
            <h1 class="m-0">Ajwa Organic Dates</h1>
            <img src="https://www.fruitsmith.com/pub/media/catalog/product/cache/3d1197b96d84cacc4f40a78b1d94d82b/a/j/ajwa-dates-1.jpg" alt="">
            <a href="tel:+918089293461"><lottie-player class="call" src="https://assets5.lottiefiles.com/packages/lf20_veeohwtn.json"  background="transparent"  speed="1"  style="width: 100px; height: 50px;"  loop autoplay></lottie-player></a>
            <a href="https://wa.me/+918089293461"><lottie-player class="watsapp" src="https://assets9.lottiefiles.com/packages/lf20_6hrplbhl.json"  background="transparent"  speed="1"  style="width: 100px; height: 50px;"  loop autoplay></lottie-player></a>
        </div>
        <div class="px-5 col-md-6 col-12">
            {% include "form.html" %}
        </div>
        
    </div>
    <div class="mt-5 pt-3 row container">
        <div class="col-12">
            <button class="button">Wholesale and Retail Available</button>
        </div>
    </div>
      
    <!-- Optional JavaScript -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>